$tab-colors: rgb(222,98,98) rgb(95,171,223) rgb(114,197,127) rgb(157,99,222) rgb(99,111,221);

@mixin top-box-shadow($color){
	box-shadow: inset 0px 25px 0 -20px $color;
	-moz-box-shadow: inset 0px 25px 0 -20px $color;
	-webkit-box-shadow: inset 0px 25px 0 -20px $color;
}

@mixin side-box-shadow($width, $color){
	box-shadow: inset $width 0 0 -20px $color;
	-moz-box-shadow: inset $width 0 0 -20px $color;
	-webkit-box-shadow: inset $width 0 0 -20px $color;
}

@mixin nav-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	li {
		cursor:pointer;
		font-weight: bold;
		text-align: center;
	}
}

html,body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: Noto Sans;
	color: rgb(100,100,100);
}
.top-nav {
	background-color: rgb(55,55,55);
	height: 72px;
	line-height: 72px;
	h1 {
		margin: 0 0 0 12px;
		color: rgb(152,152,152);
	}
}
.side-nav {
	width:25%;
	position:absolute;
	top:72px;
	bottom: 0;
	background-color: rgb(242,242,234);
	-webkit-box-shadow: 1px 0px 2px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 0px 2px 0px rgba(0,0,0,0.3);
	box-shadow: 1px 0px 2px 0px rgba(0,0,0,0.3);
	ul {
		@include nav-ul;
		li {
			text-transform: uppercase;
			background-color: rgb(242,242,234);
			height: 50px;
			line-height: 50px;
			border-bottom: 1px solid darken(rgb(242,242,234),10%);
			@for $i from 1 through 5 {
				&.item-#{$i} {
					@include side-box-shadow(25px, nth($tab-colors, $i));
				}
				&.item-#{$i}.active {
					@include side-box-shadow(30px, nth($tab-colors, $i));
				}
			}
		}
	}
}
.content-container {
	width: 75%;
	position: absolute;
	left: 25%;
	top: 72px;
	bottom: 0;
	.content-header,.content-content{
		box-shadow: inset 20px 0px 2px -20px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: inset 20px 0px 2px -20px rgba(0, 0, 0, 0.3);
		-webkit-box-shadow: inset 20px 0px 2px -20px rgba(0, 0, 0, 0.3);
	}
	.content-header {
		height: 60px;
		line-height: 60px;
		background-color: rgb(247,246,242);
		border-bottom: 1px solid darken(rgb(247,246,242),20%);
		h2 {
			margin: 0 0 0 12px;
		}
		ul {
			@include nav-ul;
			li {
				width: 10%;
				display:inline-block;
				float:left;
				border-right: 1px solid darken(rgb(247,246,242),20%);
				@for $i from 1 through 5 {
					&.sub-item-#{$i}.active {
						@include top-box-shadow(nth($tab-colors,$i));
					}
				}
			}
		}
	}
	.content-content {
		padding: 12px;
		position: absolute;
		top: 61px;
		bottom: 0;
		left: 0;
		right: 0;
		background-color:rgb(242,242,240);
	}
}

.clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}