<div class="inner-tab-content">
	<div class="tab-header">
    	{{#link-to '2012.index' activeClass='active' tagName="button" class="button"}}Overview{{/link-to}}
    	{{#link-to '2012.q1' activeClass='active' tagName="button" class="button"}}Q1{{/link-to}}
    	{{#link-to '2012.q2' activeClass='active' tagName="button" class="button"}}Q2{{/link-to}}
    	{{#link-to '2012.q3' activeClass='active' tagName="button" class="button"}}Q3{{/link-to}}
    	{{#link-to '2012.q4' activeClass='active' tagName="button" class="button"}}Q4{{/link-to}}
        <div style="clear:both;"></div>
	</div>
	<div class="chart-div">
		{{outlet}}
	</div>
</div>