<div class="content-nav">
    <ul>
        {{#link-to '2014.index' activeClass='active' tagName="li" class="sub-item-4"}}Overview{{/link-to}}
        {{#link-to '2014.q1' activeClass='active' tagName="li" class="sub-item-4"}}Q1{{/link-to}}
        {{#link-to '2014.q2' activeClass='active' tagName="li" class="sub-item-4"}}Q2{{/link-to}}
        {{#link-to '2014.q3' activeClass='active' tagName="li" class="sub-item-4"}}Q3{{/link-to}}
        {{#link-to '2014.q4' activeClass='active' tagName="li" class="sub-item-4"}}Q4{{/link-to}}
    </ul>
</div>
<div class="content-content">
    {{outlet}}
</div>