<div class="top-nav">
  <h1>Header</h1>
</div>
<div class="clearfix">
  <div class="side-nav">
    <ul>
      {{#link-to '2011' activeClass='active' tagName="li" class="item-1"}}2011{{/link-to}}
      {{#link-to '2012' activeClass='active' tagName="li" class="item-2"}}2012{{/link-to}}
      {{#link-to '2013' activeClass='active' tagName="li" class="item-3"}}2013{{/link-to}}
      {{#link-to '2014' activeClass='active' tagName="li" class="item-4"}}2014{{/link-to}}
      <!--
      <a href="#"><li class="item-1 active">Item 1</li></a>
      <a href="#"><li class="item-2">Item 2</li></a>
      <a href="#"><li class="item-3">Item 3</li></a>
      <a href="#"><li class="item-4">Item 4</li></a>
      <a href="#"><li class="item-5">Item 5</li></a>
      -->
    </ul>
  </div>
  <div class="content-container">
    {{outlet}}
  </div>
</div>